body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  background-image: url(./images/cover4.jpg) ;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.LoginForm {
  background: rgba(0, 0, 0, 0.4117647058823529);
    max-width: 500px;
    margin: 100px auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
}
.log {
  color:  #ffffff;
  text-align: center;
  font-family: 'Raleway Medium', 'Raleway Regular', 'Raleway', sans-serif;
  font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.input {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  padding: 12px 10px 12px 10px;
width:90%;
display:inline-block;
  box-sizing: border-box;
   border: none;
  outline: none;
  background: transparent;
font-family: 'Raleway', sans-serif;
  
}
.InputField {
  padding-top: 12px;
  padding-bottom: 12px;
  color: black;
}
.btn {
  color: #ffffff;
  cursor: pointer;
  left: 0px;
    top: 0px;
    width: 150px;
    height: 40px;
    background-image: inherit;
    background-position: inherit;
    background-size: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
    background-color: rgb(0, 109, 230);
    border: none;
    border-radius: 20px;
    box-shadow: none;
    font-family: "Raleway SemiBold", "Raleway Regular", Raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    margin-left: 130px;
    margin-top: 30px;
}
.sign {
  color: #ffffff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.line {
  margin-top: 40px;
  width: 402px;
}

nav {
  text-align: center;
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding-right: 30px;
}

a:link {
    text-decoration: none;
    color: black;
  }

a:hover, a:active {
    color: #00014b;
    padding: 5px;
  }

